<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Pulkit">
    <title>Cloud Sensor Login</title>
    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">


</head>

<body ng-app="LoginApp" ng-cloak class="login-bg">
<div class="header" ng-controller="LoginController as LoginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="#">Librate Refugee</a></h1>
                </div>
            </div>

            <div class="col-md-7" id="logCheck">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <!--<li class="active"><a href="Login.html">Login</a>-->
                            <!--</li>-->
                            <!--<li><a href="SignUp.html">SignUp<span class="sr-only">(current)</span></a></li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="page-content container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-wrapper">
                    <div class="box">
                        <div class="content-wrap" ng-cloak="true">
                            <h2 class="form-signin-heading">Welcome Back!</h2>
                            <h6>Sign In</h6>

                            <input type="text" id="uName" class="form-control" placeholder="UserName" required autofocus
                                   ng-model="user.uName">
                            <input type="password" id="uPassword" class="form-control" placeholder="Password" required
                                   ng-model="user.pass">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="admin" ng-model="isAdmin" ng-true-value="true"
                                           ng-false-value="false"> Are You the Admin, Sire?
                                </label>
                            </div>

                            <button class="btn btn-lg btn-primary signup" type="submit" ng-click="signIn()">Sign in
                            </button>
                            <p class="forgot"><a href="#">Forgot Password?</a></p>
                            {{LoginCtrl.errMsg}}

                        </div>
                    </div>

                    <div class="already">
                        <p>Don't have an account yet?</p>
                        <a href="SignUp.html">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--
<div class="container" ng-controller="LoginController as LoginCtrl">

    <!-- Fixed navbar --
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: skyblue">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Environment Sensor Service</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="SignUp.html">SignUp</a></li>
                    <li class="active"><a href="./">Login <span class="sr-only">(current)</span></a></li>

                </ul>
            </div><!--/.nav-collapse --
        </div>
    </nav>


    <!--Sign In Form Module--
    <form class="form-signin" ng-cloak>
        <h2 class="form-signin-heading">Welcome Back!</h2>
        <label for="inputEmail" class="sr-only">UserName</label>
        <input type="text" id="uName" class="form-control" placeholder="UserName" required autofocus ng-model="user.uName">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="uPassword" class="form-control" placeholder="Password" required ng-model="user.pass">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signIn()">Sign in</button>
        <p class="forgot"><a href="#">Forgot Password?</a></p>
        {{LoginCtrl.errMsg}}
    </form>
    <div class="container">
        <button class="btn-link center-block" href="SignUp.html">Not a Member? SignUp Now!!</button>
    </div>
</div> <!-- /container -->

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>

<script src="../js/Controllers/LogCtrl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>

</body>
</html>
