
<h2>Temperature</h2>

<p class="text-center text-muted" if-loading id="overlay">

    <img src="../bower_components/loadingcheck.gif" style="padding-top: 300px; padding-left: 30px" width="100px" >

</p>
<table class="table table-hover">
    <tr>
        <th>SensorID</th>
        <th>Location</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    <!--  <tr ng-if="lists.typecode === 1" ng-repeat = "lists in list">  -->
    <tr ng-repeat = "lists in list | filter : {typecode:'1'}">
        <td>{{lists.id}}</td>
        <td>{{lists.location}}</td>
        <td>{{lists.type}}</td>
        <td>{{lists.value}}</td>
    </tr>
</table>
</br>
<h2>Pressure </h2>
<table class="table table-hover">
    <tr>
        <th>SensorID</th>
        <th>Location</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    <!--  <tr ng-if="lists.typecode === 1" ng-repeat = "lists in list">  -->
    <tr ng-repeat = "lists in list | filter : {typecode:'2'}">
        <td>{{lists.id}}</td>
        <td>{{lists.location}}</td>
        <td>{{lists.type}}</td>
        <td>{{lists.value}}</td>
    </tr>
</table>
</br>
<h2>Humidity </h2>
<table class="table table-hover">
    <tr>
        <th>SensorID</th>
        <th>Location</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    <!--  <tr ng-if="lists.typecode === 1" ng-repeat = "lists in list">  -->
    <tr ng-repeat = "lists in list | filter : {typecode:'3'}">
        <td>{{lists.id}}</td>
        <td>{{lists.location}}</td>
        <td>{{lists.type}}</td>
        <td>{{lists.value}}</td>
    </tr>
    </br>
</table>
</br>
<h2>Air Quality Index</h2>
<table class="table table-hover">
    <tr>
        <th>SensorID</th>
        <th>Location</th>
        <th>Type</th>
        <th>Value</th>
    </tr>

<tr ng-repeat = "lists in list | filter : {typecode:'4'}">
    <td>{{lists.id}}</td>
    <td>{{lists.location}}</td>
    <td>{{lists.type}}</td>
    <td>{{lists.value}}</td>
</tr>
</table>

</div>