<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Organizations</title>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/navbar-fixed-top.css" rel="stylesheet"><!--Try and Remove-->
    <link href="../../css/styles.css" rel="stylesheet">
    <link href="../../css/organization.add.css" rel="stylesheet"><!--Remove and Check-->
    <!--Maps-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
</head>

<!-- <body ng-app="CSwitch" ng-cloak onload="checkLoggedIn()">
 -->


<style>

  .details {
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
  }

</style>
 <body>

    <div class="container">
    <div class="row">
         <legend>Organization (List)</legend>
      </div>

   <!-- organizations array -->
      <div ng-repeat="org in organizations" class="col-sm-3 col-md-3" ng-click="addOrganizationClicked()">
        <div class="thumbnail">
          <img src="http://placehold.it/350x300" />
          <div class="caption">
            <h3 class="service-name">{{org.name}}</h3>
            <div class="org-contactNumber">phone:{{org.contactNumber}}</div>
            <div class="org-contactPerson">contact:{{org.contactPerson}}</div>
            <div class="org-email">email{{org.email}}</div>
            <div class="subtitle">Services:</div>
            <div class="service-item" ng-repeat="service in org.services">
                {{service}}
            </div>
            <p>
                 <a href="#" class="btn btn-primary btn-block" role="button">Add Volunteer</a> 
                 <a href="#" class="btn btn-default btn-block" role="button">I want to volunteer</a> 
            </p>
          </div>
        </div>
      </div>

    <!-- add organization -->
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="service-name">Add Organization</h3>
            <p>
                 <a href="#" class="btn btn-primary btn-block" role="button">Add Volunteer</a> 
                 <a href="#" class="btn btn-default btn-block" role="button">I want to volunteer</a> 
            </p>
          </div>
        </div>
      </div>


      
<!--       <div class="row">
         <legend>Admin Organizations {{data.name}}</legend>
      </div>
      <div class="row"> -->

          <!-- organization item -->
<!--           <div class="col-sm-3 col-md-3" ng-click="addOrganizationClicked()">
            <div class="thumbnail">
              <img src="http://placehold.it/350x300" />
              <div class="caption">
                <h3 class="service-name">Org name</h3>
                <div class="service-info">Org details ... ilform impsum, etc.</div>
                <div class="org-name"></div>
                <div class="org-info"></div>
                <div class="org-email"></div>
                <p>
                     <a href="#" class="btn btn-primary" role="button">I want to volunteer</a> 
                </p>
              </div>
            </div>
          </div> -->


      <div class="row">
         <div class="col-md-12">
            <a href="#/organization/add" class="btn btn-primary" role="button">Add New Organization</a> 
         </div>
      </div>
    </div>
 </body>

 </html>