.request{
    border-top: 1px solid gray;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 15px;
}
.request .info{
    display: inline-block;
    width: 60%;
    text-align: left;
    margin-left: 10px;
    vertical-align: top;
}

.left-icon {
    margin-left: -25px;
    margin-top: 10px;
    width: 25%;
    display: inline-block;
}

button {
    color: white;
    background-color: gray;
    margin-left: 5px;
}

h6{
    line-height: 0.1;
}
.heading{
    font-size: 1.5em;
}

.row .spacer {
    margin-bottom: 15px;
}
